@CHARSET "UTF-8";

table.page {
	width: 50%;
	min-width: 800px;
	border-collapse: collapse;
	float: left;
}
#map {
	width: 400px;
	height: 400px;
}
thead {
	font-weight: bold;
}
td {
	border: 1px solid grey;
	padding: 5px, 0, 5px, 0;
}
td.edit {
	min-width: 200px;
}
.clear-fix {
	clear: both;
}
div.overlay{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	opacity:0.60;
}
div.overlay-content-wraper {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index:1002;
}
div.overlay-content {
	margin-right: 20%;
	margin-left: 20%;
	height: 100%;
	background-color: white;
	padding: 20px;
}
#changes, #user-info {
	width: 400px;
	margin-right: 20px;
}
a.page {
	margin-right: 10px;
	cursor: pointer;
}
.curentpage {
	text-decoration: underline;
	cursor: auto;
	color: red;
}
#pager a.spaceright {
	margin-right: 0; 
}
.spaceright:AFTER {
	content: '..';
	margin-right: 0; 
}
.spaceleft:BEFORE {
	content: '..'; 
}
.float-left {
	float:left;
	margin-left: 10px;
}
.click {
	cursor: pointer;
}
#header {
	margin-bottom: 15px;
}